<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
            <h1> <%= title %> </h1>
            <form action="/agregar" method="post">
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="email" name="email" placeholder="E mail">
                <input type="number" name="oficina_id" placeholder="Oficina">
    
                <button type="submit">Agregar</button>
            </form>
            <div class="container">
                <% personas.forEach(element => { %> <!--con el forEch vamos a iterar sobre cada persona en la lista de personas -->
                    <div class="row"> <!-- para cada persona -->
                        <div class="col-md-3 mt-3">  <!--espesifica una columna que abarca 3 de 12 columnas en pantallas de tamaño mediano (col-md-3), con un margen superior de 3 (mt-3)-->
                            <%= element.id + "-" + element.nombre %> 
                        </div>
                        <div class="col-md-3 mt-3">
                            <%= element.email %>
                        </div>
                        <div class="col-md-3 mt-3">
                            <%= element.denominacion %>  <!--mostrara la denominacion de la oficina representado por element-->
                        </div>
                        <div class="col-md-3 mt-3">
                            <a class="btn btn-primary" href="/edit/<%= element.id %>" role="button">Editar</a>  
                            <a class="btn btn-primary" href="/delete/<%= element.id %>" role="button">Borrar</a>
                            

                        </div>
                    </div>
                    <% }) %>

            </div>


            <ul>

            </ul>
    </body>

</html>
